params {
  profile = false
  analysis_parent_dir = "/projects/covid-19_production/analysis_by_run"
  genome_completeness_threshold = 85
}

profiles {
  conda {
    process.conda = "$baseDir/environments/environment.yml"
    if (params.cache){
      conda.cacheDir = params.cache
    }
  }
}

manifest {
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.1.0'
}
